@font-face {
   font-family: "circular-std-book";
   src: url(./fonts/CircularStd-Book.otf) format("opentype");
}

:root {
   --bg-color: #e0e0e0;
   --bs-color: #8d8d8d;
   --section-bg: #4f4f5a;
   --table-border-color: #dee2e6;
}

[data-theme="dark"] {
   --bg-color: #2a2932;
   --bs-color: #111010;
   --table-border-color: #373b3e;
}

[data-theme="light"] {
   --bg-color: #e0e0e0;
   --bs-color: #8d8d8d;
   --table-border-color: #dee2e6;
}

html {
   font-size: 18px;
}

body {
   background: var(--bg-color);
   font-family: "circular-std-book", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   min-height: 100vh;
}

table {
   margin-bottom: 0 !important;
}

thead {
   background: linear-gradient(
      135deg,
      rgb(206, 159, 252) 0%,
      rgb(80, 68, 207) 100%
   );
   color: #fff;
}

thead th {
   border-style: none;
   padding: 0.65rem 0.5rem !important;
   font-size: 1.07rem;
   font-weight: 400;
   background: transparent !important;
}

th,
td {
   /* override bootstrap style */
   padding: 0.425rem 0.35rem !important;
   border-bottom: 0 !important;
}

tbody th,
tbody td:not(:last-child) {
   border-right: 1px solid var(--table-border-color);
}

tbody > tr:first-child th,
tbody > tr:first-child td {
   padding-top: calc(0.4rem + 1px) !important;
}

thead th:last-child {
   width: 50px;
}

th:first-child {
   padding-left: 1rem !important;
}

th:not(:first-child) {
   text-align: center;
}

thead tr {
   border-top: 0px;
}

tbody {
   /* override bootstrap style */
   border-top: 0 !important;
}

tfoot {
   height: 8px;
}

.main-container {
   max-width: max-content;
   margin: 1.75rem auto;
}

.top-section {
   display: flex;
   gap: 0.75rem;
}

.section {
   background: var(--section-bg);
   display: flex;
   justify-content: center;
   width: fit-content;
   padding: 1.75rem;
   border-radius: 10px;
   box-shadow: 3px 3px 25px var(--bs-color);
}

.logo-container {
   display: flex;
   align-items: center;
   margin-bottom: 0.1rem;
}

.rh-logo {
   width: 200px;
   transform: translate(-5px, -5px);
}

.rh-logo > img {
   width: 100%;
}

.logo-text {
   text-transform: uppercase;
   font-size: 0.8rem;
   font-weight: bold;
   letter-spacing: -1px;
   color: #bbbbbe;
   transform: translateX(-8px);
}

.form-title {
   margin: 0;
   font-size: 1.5rem;
   color: #fff;
   margin-bottom: 1.15rem;
   letter-spacing: -0.25px;
}

.input-container {
   display: flex;
}

.input {
   min-width: 352px;
}

.searchbar {
   display: flex;
   width: 100%;
}

.searchbar:focus-within,
.searchbar:hover {
   box-shadow: 0 0 5px 0.051rem rgba(142, 253, 184, 0.418);
   outline: 1px solid rgba(142, 253, 184, 0.418);
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   transform: scaleY(0.98);
}

.icon-container {
   width: 2.35rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   position: relative;
   transform: translateX(0.5px);
}

.input {
   border: none;
   border-radius: none;
   padding: 0.95rem 0.25rem 0.95rem 0.05rem;
   font-size: 0.88rem;
}

.input::placeholder {
   color: rgba(195, 195, 207, 0.836);
}

.input:focus {
   outline: none;
}

.button {
   box-sizing: content-box;
   border: none;
   background: #71d9b1;
   font-size: 0.75rem;
   font-weight: bold;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   color: #fff;
   padding: 0.8rem;
   transform: translateX(-0.2px);
}

.button:hover {
   box-shadow: 0 0 5px 0.051rem rgba(142, 253, 184, 0.418);
}

.button:active {
   background: #5ec59e;
}

.stats-outer {
   flex-direction: column;
   color: #fff;
   padding: 0.95rem 1.45rem 1.45rem;
}

.stats-inner {
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
}

.blockie {
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   overflow: hidden;
   margin: 0 4px 1px;
}

.blockie > img {
   width: 100%;
}

.stats-title {
   font-size: 0.8rem;
   margin: 0 0 0.45rem;
   text-transform: uppercase;
   letter-spacing: -1px;
   font-weight: bold;
   color: #bbbbbe;
}

.stat-container {
   display: flex;
   align-items: center;
   background: #2a2932;
   padding: 0.8rem 1rem;
   border-radius: 5px;
}

.stat-text {
   margin-left: 0.7rem;
}

.stat-text > p {
   margin: 0;
   line-height: 1.3;
}

.short-address {
   font-size: 0.9rem;
}

.small-text {
   font-size: 0.75rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: -1px;
   color: #bbbbbe;
   margin-right: 0.25rem;
}

.small {
   font-size: 0.85rem;
}

.xs-small {
   font-size: 0.6rem;
}

.table-container {
   max-width: 740px;
   margin: 1rem auto;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 5px 5px 35px var(--bs-color);
   background: var(--bg-color);
}

.project-id {
   font-size: 0.85rem;
}

.dropdown {
   position: relative;
}

.drop-item {
   width: min-content;
   white-space: nowrap;
   position: absolute;
   text-align: right;
   top: 15px;
   right: 35px;
   z-index: 1;
   background: #e7e7e7;
   color: black;
   padding: 0.5rem;
   border-radius: 3px;
   border: 1px solid black;
}

tr:last-of-type .drop-item {
   top: 1px;
}

.copy-icon {
   margin-left: 0.75rem;
   text-align: right;
}

.tooltip-inner {
   background: rgb(0, 24, 95);
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
   border-top-color: rgb(0, 24, 95);
}

/* darkmode switch styles */
.switch-container {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 0.3rem;
   margin-right: -0.35rem;
}

.switch-outer {
   width: 32px;
   height: 18px;
   background: var(--table-border-color);
   border-radius: 12px;
   position: relative;
}

.switch-inner {
   background: linear-gradient(
      135deg,
      rgb(206, 159, 252) 0%,
      rgb(80, 68, 207) 100%
   );
   height: 16px;
   width: 16px;
   border-radius: 50%;
   position: absolute;
   top: 1.1px;
   left: 2px;
   transition: transform 0.2s linear;
}

.on {
   transform: translateX(72.5%);
}
/* fade-out for popper */
.MuiBox-root {
   animation: fade 2.5s ease;
   animation-delay: 3.5s;
   animation-fill-mode: forwards;
}

@keyframes fade {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      cursor: default;
   }
}

/* media queries */
@media (max-width: 1080px) {
   html {
      font-size: 16px;
   }

   .input {
      min-width: 336px;
   }

   .table-container {
      max-width: 720px;
   }
}

@media (max-width: 850px) {
   .top-section {
      flex-direction: column;
      gap: 0.8rem;
   }

   .section,
   .form,
   .input {
      width: 100%;
   }

   .stats-inner {
      flex-direction: row;
      justify-content: space-between;
   }

   .stats-title {
      margin-top: 0.2rem;
   }

   .stat-container:first-of-type {
      flex-grow: 2;
   }
}

@media (max-width: 550px) {
   html {
      font-size: 0.8rem;
   }

   thead th {
      font-size: 1rem;
   }

   .input {
      min-width: 290px;
   }

   .switch-outer {
      height: 16px;
      width: 30px;
   }

   .switch-inner {
      height: 14px;
      width: 14px;
      transform: translateY(-0.4px);
   }

   .on {
      transform: translate(90%, -0.4px);
   }

   .spinner {
      height: 250px;
      width: 250px;
   }
}

@media (max-width: 480px) {
   html {
      font-size: 0.75rem;
   }

   thead th {
      font-size: 0.95rem;
   }

   .main-container {
      margin: 0.65rem 0.5rem;
   }

   .blockie {
      width: 24px;
      height: 24px;
      margin-left: 2px;
   }

   .form-title {
      font-size: 1.325rem;
   }

   .input {
      min-width: 236px;
   }

   .stats-outer {
      padding: 0.9825rem;
   }

   .stat-container {
      padding: 0.75rem 0.8rem;
      font-size: 0.95rem;
   }

   .stat-container > span {
      height: 30px !important;
      width: 30px !important;
      margin-left: 0.4rem;
   }

   .stat-container svg {
      width: 100%;
      margin-top: -7px;
   }

   .stat-text {
      margin-left: 0.15rem;
   }
}

@media (max-width: 420px) {
   .input {
      min-width: 226px;
   }

   .rh-logo {
      width: 180px;
   }

   .switch-container {
      margin-right: -0.4rem;
   }

   .spinner {
      height: 220px;
      width: 220px;
   }

   .stat-container > span {
      height: 24px !important;
      width: 24px !important;
   }
}

@media (max-width: 392px) {
   html {
      font-size: 0.7rem;
   }

   thead th {
      font-size: 0.9rem;
   }

   .blockie {
      height: 16px;
      width: 16px;
   }

   .input {
      min-width: 100%;
      padding: 0.9rem 0.225rem 0.9rem 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-left: 0.75rem;
   }

   .s-icon {
      display: none;
   }

   .stat-container {
      padding: 0.75rem 0.7rem;
   }

   .blockie {
      margin-left: 1px;
   }

   .stat-container svg {
      /* margin-left: -4px; */
      margin-top: -6px;
   }

   .stat-text {
      margin: 0;
   }

   .switch-outer {
      height: 14px;
      width: 26px;
   }

   .switch-inner {
      height: 12px;
      width: 12px;
      left: 1.5px;
      top: 1.5px;
   }

   .on {
      transform: translate(90%, -0.3px);
   }

   .spinner {
      height: 200px;
      width: 200px;
   }
}

@media (max-width: 331px) {
   html {
      font-size: 0.675rem;
   }

   .rh-logo {
      width: 175px;
   }

   .switch-container {
      gap: 0.25rem;
   }

   .switch-outer {
      height: 12px;
      width: 22px;
   }

   .switch-inner {
      height: 9px;
      width: 9px;
      left: 1.5px;
      top: 2px;
   }

   .on {
      transform: translate(98%, -0.3px);
   }

   .fa-sun,
   .fa-moon {
      font-size: 8px;
   }

   .stat-container > span {
      height: 22px !important;
      width: 22px !important;
   }
}
